# Dependencias y logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Entorno y credenciales locales
.env
.env.local
.env.*.local
*.pem
*.key

# Control de versiones
.git
.gitignore
.github

# Archivos de build y caches
dist
build
.cache
.npm

# Archivos de configuración de Fly.io y Docker
.dockerignore
Dockerfile.dev

# Documentación no requerida en runtime
*.md
LICENSE
