ALLOWED_ORIGINS=
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PASS=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
FRONTEND_URL=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_EXPIRES_IN=
JWT_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=